* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ccc;
}

main {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
}

.button {
    width: 100px;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 5px;
}

.button:hover {
    color: #ccc;
    background-color: #000;
}